begoodPlus/begoodPlus/secrects.py

begoodPlus/db.sqlite3
begoodPlus/db3.sqlite3
begoodPlus/db_old.sqlite3
begoodPlus/static/**
begoodPlus/backups/**
.vscode/**

**/__pycache__/**
*.pyc
env
node_modules
newEnv
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
celerybeat.pid

begoodPlus/env2
frontend/my-svelte-project/public/**
env2
newEnv
/node_modules/
/public/build/

.DS_Store
svelte/src/config.js
data_analysis

drive_auth/*