{% extends "admin/change_form.html" %} {% load i18n admin_urls %} {%load static%} {% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ media }} {% endblock %} {% block field_sets %} {% for fieldset in adminform %}
<div class="temp">{{fieldset}}</div>
{% include "admin/includes/fieldset.html" %} {% endfor %}
<script>
  let currUrl = window.location.href;
  currUrl = currUrl.substr(currUrl.indexOf("catalogimage/") + "catalogimage/".length);
  let id = currUrl.substr(0, currUrl.indexOf("/"));
</script>
<!-- <svelte-custom-element id="custom" catalog_image_id={id}></svelte-custom-element> -->
<!-- <button type="button" onclick="exportDetailTabel()">ייצא לטבלת פרטים (פעולה חד פעמית!)</button> -->
<script src="{%static 'admin/catalogImages/handlePrices.js' %}"></script>
<!-- <script src="{%static 'admin/catalogImages/svelte-custom-element.0.1.0.min.js' %}"></script> -->
{% endblock %}
