@import "../../base/css/style.scss";

:root {
  $fade-grey: #ededed;
  $grey: #111;
  $muted-grey: #999;
  $heart: #ff4f8f;
  $white: #fff;
  --like-font-size: 30px;

  --swiper-navigation-size: 80px;
  --swiper-slide-border: 2px;

}



.btn-primary {
  background-color: black;
  border-color: #eee;
}

@mixin bg-image {
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 32%, rgba(199, 199, 199, 1) 84%);
}

.swiper-container {}

.bg-wraper {

  //background: url('../../base/imgs/wall_bg.jpg');
  //background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('../../base/imgs/wall_bg.jpg');
  //background-position: center;

  /*background-color: #b8b8b8;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23c1c1c1'/%3E%3Cstop offset='1' stop-color='%23c1c1c1' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23c6c6c6'/%3E%3Cstop offset='1' stop-color='%23c6c6c6' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23cfcfcf'/%3E%3Cstop offset='1' stop-color='%23cfcfcf' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23b8b8b8'/%3E%3Cstop offset='1' stop-color='%23b8b8b8' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23cacaca'/%3E%3Cstop offset='1' stop-color='%23cacaca' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23d4d4d4'/%3E%3Cstop offset='1' stop-color='%23d4d4d4' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;*/


  background: url('../../base/imgs/wall_bg.jpg');
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('../../base/imgs/wall_bg.jpg');
  background-position: center;

  //background: url('../imgs/catalogBg1.jpeg');
  //background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imgs/catalogBg1.jpeg);
  //background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../imgs/catalogBg1.jpeg');
  //overflow: hidden;
  //background-size: 50vh;
  //background-size: 50vh;
  //background-size: 500px;
  //
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
}

.section-1-5 {
  overflow: hidden;
  .container {
    background: #2f2f2f;
    font-size: 2rem;

    margin: 10px auto;
    width: 100%;
    text-align: center;

    -webkit-box-shadow: 0px 19px 28px 10px rgba(0,0,0,0.89); 
    box-shadow: 0px 19px 28px 10px rgba(0,0,0,0.89);
    background: #454545;
    border-radius: 35px;
    margin-top: 75px;
    margin-bottom: 75px;
  }

    .logo-swiper {
      /*
      direction: ltr;
      margin-bottom: 75px;
      .MS-content{
        margin: 15px 5%;
        overflow: hidden;
        white-space: nowrap;
        .item { 
          width: auto; 
          display: inline-block;
          //height: 100%;
          overflow: hidden;
          position: relative;
          //vertical-align: bottom;
          vertical-align: middle;
          padding-left: 20px;
          padding-right: 20px;
          border-right: none;
          border: 1px solid green;
          .slide-image {
            width: 100%;
            height: auto;
          }
        }
      }*/
      /*.swiper-wrapper {
          transition-timing-function: linear;
          .swiper-slide {
              flex-shrink: 1;
          }
      }*/
  }
}
.section-1 {
  position: relative;
  .class-bg-image {
    width: 100%;
  }
  .content {
    position: absolute;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
      text-align: center;
      width: 100%;
      font-size: 70px;
      color:white;;
      text-shadow: rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px, rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px, rgb(0, 0, 0) 0.705713px 2.91581px 0px, rgb(0, 0, 0) -0.287171px 2.98622px 0px, rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px, rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px, rgb(0, 0, 0) -2.94502px -0.571704px 0px, rgb(0, 0, 0) -2.59586px -1.50383px 0px, rgb(0, 0, 0) -1.96093px -2.27041px 0px, rgb(0, 0, 0) -1.11013px -2.78704px 0px, rgb(0, 0, 0) -0.137119px -2.99686px 0px, rgb(0, 0, 0) 0.850987px -2.87677px 0px, rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px, rgb(0, 0, 0) 2.88051px -0.838247px 0px;
      font-weight: bold;
    .text {
      
    }
  }
    @media screen and (max-width:640px) {
      .content {
        .title {
          font-size: 50px;
        }
      }
    }
    @media screen and (max-width:500px) {
      .content {
        .title {
          font-size: 35px;
        }
      }
    }
}
.section-2 {

  //background: #111;
  margin-left: 20px;
  padding-top: 50px;
  margin-right: 20px;
  padding-bottom: 50px;



  .section-2-fotter {
    text-shadow: -2px -1px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    /*font-family: 'Rounded Mplus 1c';*/
    color: #FFD880;
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
    position: relative;
    
    padding-top: 2%;
    padding-bottom: 2%;

    @media screen and (max-width:640px) {
          font-size: 2.5rem;
    }
    @media screen and (max-width:500px) {
          font-size: 2rem;
    }
    /*.part1{ 
      display: inline-block;
      transform: translateY(-25%);
    }
    .part2{
      display: inline-block;
      transform: translateY(25%);
    }
    @media screen and (max-width:800px) {
      .part1{ 
        transform: translateY(0%);
      }
      .part2{
        transform: translateY(0%);
      }
    }*/
  }

  /* check list */
}




/* section-2 */

/** {
  border: 1px solid red;
}*/


.my-slick-slide.checked+.like-btn,
.category-item.checked>div .like-btn {
  &:hover {
    .like-wrapper {
      a {
        span {
          img {
            display: inline;
          }

          &::after {
            content: '';
          }
        }
      }
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  font-weight: bolder;
  color: black;

  //font-size: 4.7rem;
  ::after {
    font-size: 4.5rem !important;
  }
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  /*left: 10px;
  right: auto;
  width: 75px;
  height: 75px;*/
  transform: translate(-110%, 75%);
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  /*right: 10px;
  left: auto;
  width: 75px;
  height: 75px;*/
  transform: translate(110%, 75%);
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  //opacity: .35;
  cursor: auto;
  pointer-events: initial;
}

.catalog {
  .timer {
    display: none;

    &.active {
      display: block;
    }

    .flipdown {
      margin: auto;
    }

    .timer-text {
      text-align: center;
      //color: var(--clr-primery-gold);
    }
  }

  .container {
    position: relative;
    //max-width: 100vw;

    .swiper-container {
      padding-top: 150px;
      padding-bottom: 60px;
      //padding-top: 220px;
      //padding-bottom: 120px;
    }

    .product-image {
      border: var(--swiper-slide-border) solid black;
      //border-top-width: 0px;
      border-bottom-width: 0px;
      @include bg-image;
    }

  }

  .swiper-slide-active {
    transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) scale(1.4) !important;

    .product-image {
      border-top-width: 0px;
    }

    .my-slick-slide {

      position: relative;

      /*
      box-shadow:
        inset 0 0 20px #ffe8b3,
        inset 20px 0 80px #ffc234,
        inset -20px 0 80px #FFD880,
        inset 20px 0 300px #ffc234,
        inset -20px 0 300px #FFD880,
        0 0 10px #ffe8b3,
        -15px 0 15px #FFD880,
        15px 0 15px #FFD880 !important;
        */
      img {
        //width: 150%;
        //height: 150px;
      }

      .img-title {
        display: block;
      }

      //border-radius: 15px;
    }

    .img-title {
      background: #0000007a;
      border-radius: 25px;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0;
      border: var(--swiper-slide-border) solid black;
      border-bottom-width: 0px;
    }

    /*box-shadow:
      inset 0 0 60px whitesmoke,
      inset 20px 0 80px black,
      inset -20px 0 80px #FFD880,
      inset 20px 0 300px black,
      inset -20px 0 300px #FFD880,
      0 0 50px #fff,
      -10px 0 80px black,
      10px 0 80px #FFD880 !important;
    }*/

  }
}



.title-wraper {
  display: flex;
  justify-content: center;

  .counter {
    direction: ltr;

    #year {
      display: none;
    }

    #month {
      display: none;
    }

  }

  .title {
    opacity: 0.5;
    background-color: black;
    border-color: var(--clr-primery-gold);
    //margin-top: 25px;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    width: 100%;
    margin-right: 20px;
    margin-left: 20px;

    &:hover {
      &::before {
        content: '>> למעבר לקטגוריית ';
        opacity: 1;
        font-size: 1.4rem;
      }

      &::after {
        content: ' לחץ כאן <<';
        opacity: 1;
        font-size: 1.4rem;
      }

      opacity: 0.8;
      //font-size: 2.2rem;

    }
  }
}

.slick-dots li button:before {
  color: white;
}

.like-btn {
  cursor: pointer;
}

.slick-slider {
  margin-bottom: 0px !important;

  .wraper-my-slick-slide {
    /*&:hover {
      background-color: black;
    }*/


  }

  .my-slick-slide {

    cursor: pointer;

    /*
    &:hover {
      background-color: black;
    }*/
    .can-tag {
      position: absolute;
      width: 55px;
      bottom: 0px;
      right: 0px;
    }

    .discount {
      position: absolute;
      width: 65px;
      left: 10px;
      top: 10px;
    }


    &.checked+.like-btn .like-wrapper a {
      border: 1px solid black;
      //color: rgb(0, 0, 0);
      color: white;

      &:hover {
        //color: rgb(70, 70, 70);
      }

      &:after {
        width: 100%;
        height: 100%;
      }
    }



    position: relative;

    img {
      width: 100%;
      height: auto;
      //padding: 5px;
      border-radius: 0px;
      /*
      filter: none !important;

      &:hover {
        transform: scale(1.1);
        border-radius: 15px;
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
      }*/


      &:hover+.img-title {
        display: block;
        transition: transform 0.2s;
        //transform: translate(-50%, -80%);
        font-weight: 700;
      }
    }

    .img-title {
      position: absolute;
      display: none;
      color: white;
      width: 100%;
      //background: rgba(0, 0, 0, 0.5);
      text-shadow:
        -1px -1px 0 #000,
        0 -1px 0 #000,
        1px -1px 0 #000,
        1px 0 0 #000,
        1px 1px 0 #000,
        0 1px 0 #000,
        -1px 1px 0 #000,
        -1px 0 0 #000;

      //border-radius: 15px;
      z-index: 2000;
      //bottom: 0%;
      transform: translate(-50%, -100%);
      //top: 0px;
      font-size: 1.5em;

      left: 50%;
      top: 0px;
      pointer-events: none;
      text-align: center;
    }
  }
}





.contact-form-wraper2 {
  background-color: #FFD880;
}

@keyframes burst {

  0%,
  10% {
    transform: scale(1);
    opacity: .5;
    color: lavender;
  }

  45% {
    transform: scale(.2) rotate(30deg);
    opacity: .75;
  }

  50% {
    transform: scale(2) rotate(-37.5deg);
    opacity: 1;
    color: red;
    text-shadow: 2px 2px 6px rgba(235, 9, 9, 0.5);
  }

  90%,
  95% {
    transform: scale(1) rotate(10deg);
    text-shadow: none;
  }

  100% {
    transform: rotate(-2.5deg);
  }

}



#ImageProductsModal {
  .modal-dialog {
    margin-top: 0px;
    margin-bottom: 0px;

    @media (min-width: 576px) {
      //max-width: 100vw;
    }

    .modal-content {
      max-height: 100vh;
      @include bg-image;

      .modal-body {
        @include bg-image;
        padding: 0px;
        overflow-y: auto;
        /*overflow-y: scroll;
        display: flex;
        justify-content: center;
        align-items: center;*/
        margin: auto;

        .img-fluid {

          margin: auto
        }
      }
    }
  }
}








@media only screen and (max-width:1050px) {
  .catalog {
    .container {
      width: 80%;
      max-width: 80%;
    }
  }
}

@media only screen and (max-width:700px) {
  .section-2 {
    .section-2-fotter{
      border-radius: 25px;
      ul {
        
        li {
          display: block;
          
        }
      }
    }
  }


  .catalog {
    .container {
      width: 100%;
      max-width: 100%;
      padding-right: 0px;
      padding-left: 0px;

      .slick-slider {
        
        .my-slick-slide {
          .img-title {
            font-size: 1rem;
          }
        }
      }

      .swiper-container {
        padding-bottom: 50px;
        padding-top: 120px;
      }

      .swiper-button-prev,
      .swiper-button-next {
        display: none;
      }
    }
  }
}
@media only screen and (max-width:500px) {
  .bg-wraper {
    .section-1{
    }
    
  }
}


/* ============== swiper end ================ */
/*
.cls-animate-in-right {
  animation: animate-in-right;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-delay: 1000;
}

@keyframes animate-in-right {
  from {
    transform: translate(100%, 0%);
  }

  to {
    transform: translate(0%, 0%);
  }
}

.main-slider {
  width: 100%;
  height: 100%;

  .main-slide {
    position: relative;

    .main-slide-bg {
      width: 100vw;
      height: 66vh;
      //height:25.3125vw;
      //width: auto;
    }



    .text {

      position: absolute;
      top: 0px;
      //font-size: 2.3em;
      width: 100%;
      z-index: 1;


      height: 100%;
      background-color: rgba(0, 0, 0, 0.0);
      color: white;
      text-shadow: -2px -1px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;

      .text-1 {
        padding-right: 1em;
      }

      // small mobile
      @media (min-width: 180px) {
        font-size: 2.1em;

        .text-1 {
          font-size: 0.9em;
          text-align: center;
        }

        .text-2 {
          font-size: 0.9em;
          text-align: center;
        }
      }

      // mobile
      @media (min-width: 488px) {
        font-size: 2.1em;

        .text-1 {
          font-size: 0.9em;
        }

        .text-2 {
          font-size: 0.9em;
          text-align: center;
        }
      }

      //table
      @media (min-width: 688px) {
        font-size: 2.1em;

        .text-1 {
          padding-top: 50px;
          font-size: 0.7em;
        }

        .text-2 {
          font-size: 0.9em;
          text-align: center;
        }
      }

      //squere screen
      @media (min-width:1100px) {
        font-size: 2.1em;

        .text-1 {
          font-size: 1.2em;
        }

        .text-2 {
          font-size: 0.9em;
          text-align: center;
        }
      }

      // big screen
      @media (min-width: 1312px) {
        font-size: 2.3em;

        .text-1 {
          font-size: 1.5em;
        }

        .text-2 {
          font-size: 1.2em;
          text-align: center;
        }
      }
    }

  }

  margin: 0 auto;


}

.slide-1 {
  .text {

    //big screen
    @media (max-width: 1312px) {
      .text-wraper-2 {
        padding-top: 50px;
        max-width: 80vh;
        margin: auto;
      }
    }

  }

  .images {
    //border: 1px solid red;
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    justify-content: space-evenly;
    bottom: 0px;
    left: 0px;
  }

  .main-slide-img {
    height: 300px;
  }

  // small mobile
  @media (min-width: 180px) {
    .main-slide-img {
      height: 250px;
    }

    .img-1,
    .img-2,
    .img-4,
    .img-5 {
      display: none;
    }

  }

  // mobile
  @media (min-width: 488px) {
    .main-slide-img {
      height: 250px;
    }

    .img-1,
    .img-5,
    .img-4 {
      display: none;
    }

    .img-3 {
      display: block;
    }

  }

  //table
  @media (min-width: 688px) {
    .main-slide-img {
      height: 280px;
    }

    .img-1,
    .img-5 {
      display: none;
    }

    .img-2,
    .img-3,
    .img-4 {
      display: block;
    }

  }

  //squere screen
  @media (min-width:1100px) {
    .main-slide-img {
      height: 350px;
      display: block;
    }

    .img-1 {
      display: none;
    }

    .img-2,
    .img-3,
    .img-4.img-5 {
      display: block;
    }
  }

  // big screen
  @media (min-width: 1312px) {
    .main-slide-img {
      display: block;
    }
  }

}

.slide-2 {
  .text {

    //big screen
    @media (max-width: 1312px) {
      .text-wraper-2 {
        max-width: 100vh;
        margin-right: 20%;
        margin-left: 20%;
      }
    }

    .text-2 {}
  }

  .main-slide-img {
    height: 280px;
    max-width: 100%;
  }

  .images {
    position: absolute;

    bottom: 0px;
    left: 0px;
    width: 100vw;
    max-height: 50vh;

    @media (min-width:1100px) {
      .img-1 {
        position: absolute;
        left: 0px;
        bottom: 0px;
      }

      .img-2 {
        position: absolute;
        left: 80px;
        bottom: 150px;
      }

      .img-3 {

        position: absolute;
        left: 280px;
        bottom: 0px;
      }

      .img-4 {
        position: absolute;
        left: 38%;
        height: 350px;
        bottom: 90px;
      }

      .img-5 {
        position: absolute;
        left: 57%;
        bottom: 55px;
      }

      .img-6 {
        position: absolute;
        left: 65%;
        bottom: 0px;
      }

      .img-7 {
        position: absolute;
        right: 50px;
        bottom: 190px;
        height: 200px;
      }

      .img-8 {
        position: absolute;
        right: 00px;
        bottom: 0px;
        //border: 1px solid red;
      }
    }

    // big screen
    @media (min-width: 1312px) {
      .img-1 {
        position: absolute;
        left: 0px;
        bottom: 0px;
      }

      .img-2 {
        position: absolute;
        left: 80px;
        bottom: 150px;
      }

      .img-3 {

        position: absolute;
        left: 280px;
        bottom: 0px;
      }

      .img-4 {
        position: absolute;
        left: 38%;
        height: 335px;
        bottom: 10px;
      }

      .img-5 {
        position: absolute;
        left: 57%;
        bottom: 55px;
      }

      .img-6 {
        position: absolute;
        left: 65%;
        bottom: 0px;
      }

      .img-7 {
        position: absolute;
        right: 50px;
        bottom: 190px;
        height: 200px;
      }

      .img-8 {
        position: absolute;
        right: 00px;
        bottom: 0px;
        //border: 1px solid red;
      }
    }
  }
}


.slide-3 {
  .text {

    //big screen
    @media (max-width: 1312px) {
      .text-wraper-2 {
        width: 80%;
        margin-right: 1%;
        margin-left: 19%;
      }
    }

    .text-2 {}
  }

  .main-slide-img {
    height: 280px;
    max-width: 100%;
  }

  .text {}

  .images {
    position: absolute;

    bottom: 0px;
    left: 0px;
    width: 100vw;
    max-height: 50vh;

    @media (min-width:1100px) {

      // face shild
      .img-14 {
        position: absolute;
        left: 66%;
        bottom: 0px;
      }

      // yellow vest
      .img-15 {
        position: absolute;
        left: 35%;
        bottom: 50px;
        height: 320px;
      }

      //shoe
      .img-16 {
        position: absolute;
        left: 200px;
        bottom: 0px;
      }

      .img-17 {
        position: absolute;
        left: 0%;
        height: 280px;
        bottom: 180px;
      }

      // red glove
      .img-18 {
        position: absolute;
        left: 0px;
        height: 235px;
        bottom: -20px;
      }

      // shild glasses
      .img-19 {
        position: absolute;
        right: 0px;
        height: 190px;
        bottom: 130px;
      }

      .img-20 {
        position: absolute;
        right: 0px;
        height: 200px;
        bottom: 0px;
      }

      // orange vest
      .img-23 {
        position: absolute;
        left: 52%;
        bottom: 0px;
        height: 320px;
      }
    }

    @media (min-width: 1312px) {

      // face shild
      .img-14 {
        position: absolute;
        left: 66%;
        bottom: 0px;
      }

      // yellow vest
      .img-15 {
        position: absolute;
        left: 32%;
        bottom: 10px;
        height: 300px;
      }

      //shoe
      .img-16 {
        position: absolute;
        left: 200px;
        bottom: 0px;
      }

      // helmet
      .img-17 {
        position: absolute;
        left: 0%;
        height: 280px;
        bottom: 140px;
      }

      // red glove
      .img-18 {
        position: absolute;
        left: 0px;
        height: 235px;
        bottom: -20px;
      }

      // shild glasses
      .img-19 {
        position: absolute;
        right: 70px;
        height: 165px;
        bottom: 130px;
      }

      .img-20 {
        position: absolute;
        right: 0px;
        height: 200px;
        bottom: 0px;
      }

      // orange vest
      .img-23 {
        position: absolute;
        left: 49%;
        bottom: 0px;
        height: 300px;
      }
    }
  }
}*/