{% extends "newBase.html" %}

{% load i18n %}
{% load static %}
{% load bootstrap5 %}

{% block head_title %}{% trans "Main" %}{% endblock %}
{% block extra_head %}
<!-- css includes in head -->
<link rel="stylesheet" href="{%static 'assets/main/css/style.css'%}">
{% endblock extra_head%}

{% block content %}
<!-- html body -->
<div class="my-body">

    <div class="main-section">

        <div class="section-1-wraper">

            <div class="hero-wraper">

                <div class="container hero">
                    <div class="sentence sentence-1">
                        כבר שילמתם על לוגו...
                    </div>
                    <div class="sentence sentence-2">
                        לא חבל שהעולם לא רואה אותו?!
                    </div>
                    <div class="sentence sentence-3">

                        למעלה מ73% מהעסקים בישראל <div class="mark-strong">מפסידים</div> כסף בהוצאות ה<div
                            class="mark-strong"> שיווק והפרסום</div> לעסק בכל חודש...
                    </div>
                    <div class="sentence sentence-4">
                        אנחנו כאן לעשות לכם סדר
                    </div>
                    <div class="sentence sentence-5">
                        אצלנו באמ אס גלובל תמצאו מגוון רחב של אפשרויות שיווק מיתוג וקידום לעסק שלכם.
                    </div>
                    <!--
                    <div class="sentence sentence-6">
                        למה אתם מחכים ? בחרו באפשרות המתאימה עבורכם ותתחילו לשווק!!
                    </div>
                    -->
                </div>


            </div>


            <div class="hero-slogen-wraper">
                <!-- <h2 class="hero-slogen">M.S. Global - הבית של העסק שלך</h2>-->
                <div class="waves-container d-block"></div>
            </div>

            <div class="scene-wraper">
                <div class="waves-container-2 d-block"></div>
                <div class="scene-title-wraper">
                <!--
                    <div class="scene-title gold-animation">
                        למה אתם מחכים? בחרו באפשרות המתאימה עבורכם
                    </div>
                -->
                </div>
                <div class="temp">
                <!--
                    <div class="part part-1">
                        <div class="title">
                            קטלוג מוצרי פרסום
                        </div>
                        <img class="carusel-img" src="{%static 'assets/main/imgs/caruselImg3.jpg' %}" />
                        <button onclick="window.location='/my-logo/category/קטלוג-מוצרי-פרסום-ומתנות-My-Logo'; "
                            class="btn btn-success cell-btn">למעבר לקטלוג לחץ כאן</button>
                    </div>
                -->
                    <div class="part part-2">
                        <div class="wraper">
                            <div class="title">
                                קטלוג מוצרים
                            </div>
                            <img class="carusel-img" src="{%static 'assets/main/imgs/caruselImg1.jpg' %}" />
                            <button onclick="window.location='{%url 'catalogView'%}'"
                                class="btn btn-success cell-btn">למעבר לקטלוג לחץ כאן</button>
                        </div>

                    </div>
                </div>
                <!--
                <div class="scene">
                    <div class="carousel">
                        <div class="carousel__cell">
                            <div class="title">
                                קטלוג מוצרים
                            </div>

                            <button onclick="window.location='{%url 'catalogView'%}'"
                                class="btn btn-success cell-btn">למעבר לקטלוג לחץ כאן</button>
                            <img class="carusel-img" src="{%static 'assets/main/imgs/caruselImg1.jpg' %}" />
                        </div>
                        <div class="carousel__cell">
                            <div class="title">
                                קטלוג מוצרי פרסום
                            </div>

                            <button class="btn btn-success cell-btn">למעבר לקטלוג לחץ כאן</button>
                            <img class="carusel-img" src="{%static 'assets/main/imgs/caruselImg2.jpg' %}" />
                        </div>
                        <div class="carousel__cell">
                            <div class="title">
                                עיצוב גרפי
                            </div>

                            <button class="btn btn-success cell-btn">למעבר לקטלוג לחץ כאן</button>
                            <img class="carusel-img" src="{%static 'assets/main/imgs/caruselImg3.jpg' %}" />
                        </div>
                    </div>

                    <div class="carusel-control">
                        <button class="next-button"><i class="fas fa-arrow-up fa-5x"></i></button>
                        <button class="previous-button"><i class="fas fa-arrow-up fa-5x"></i></button>
                    </div>

                </div>


            -->
                <input style="display: none;" class="cells-range" type="range" min="1" max="15" value="3" />
                <input style="display: none;" type="radio" name="orientation" value="vertical" />
                <input style="display: none;" type="radio" name="orientation" value="horizontal" checked />
                <div class="carusel-extra" id="whous">
                    <div class="hero-description gold-animation">
                        <h1 class="hero-description-title gold-animation">
                            אמ אס גלובל
                        </h1>
                        מתמחה באספקת בגדי עבודה, מוצרי טקסטיל ואביזרי מיתוג
                        למוסדות ולחנויות.
                        </br>
                        אפשרויות הדפסה ורקמה על מגוון מוצרים. שירותי גרפיקה
                        מתקדמים.
                        </br>
                        מחלקת הייטק המספקת שירותי בניית אתרים, הקמת תוכנה ושיווק
                        אינטרנטי יעיל לבעלי העסקים.
                    </div>
                </div>
            </div>


        </div>

        <div class="section-2-wraper">
            <div class="logo-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide my-slick-slide">
                        <img class="slide-image" height="100px" width="auto"
                            src="{%static 'assets/main/imgs/logo_slider/logo1.png' %}" />
                    </div>
                    <div class="swiper-slide my-slick-slide">
                        <img class="slide-image" height="100px" width="auto"
                            src="{%static 'assets/main/imgs/logo_slider/logo2.png' %}" />
                    </div>
                    <div class="swiper-slide my-slick-slide">
                        <img class="slide-image" height="100px" width="auto"
                            src="{%static 'assets/main/imgs/logo_slider/logo5.png' %}" />
                    </div>
                    <div class="swiper-slide my-slick-slide">
                        <img class="slide-image" height="100px" width="auto"
                            src="{%static 'assets/main/imgs/logo_slider/logo3.png' %}" />
                    </div>
                    <div class="swiper-slide my-slick-slide">
                        <img class="slide-image" height="100px" width="auto"
                            src="{%static 'assets/main/imgs/logo_slider/logo4.png' %}" />
                    </div>
                    
                    <div class="swiper-slide my-slick-slide">
                        <img class="slide-image" height="100px" width="auto"
                            src="{%static 'assets/main/imgs/logo_slider/logo6.png' %}" />
                    </div>

                </div>
            </div>
            <!--
            <div class="slider-wraper">
                <div class="showcase">
                    <div class="window">
                        <div class="slider clearfix">
                            <img src="{%static 'assets/main/imgs/logo_slider/slide1.png' %}" alt="" class="item" />
                            <img src="{%static 'assets/main/imgs/logo_slider/slide2.png' %}" alt="" class="item" />
                            <img src="{%static 'assets/main/imgs/logo_slider/slide3.png' %}" alt="" class="item" />
                            <img src="{%static 'assets/main/imgs/logo_slider/slide4.png' %}" alt="" class="item" />
                            <img src="{%static 'assets/main/imgs/logo_slider/slide5.png' %}" alt="" class="item" />
                            <img src="{%static 'assets/main/imgs/logo_slider/slide6.png' %}" alt="" class="item" />

                            <img src="{%static 'assets/main/imgs/logo_slider/slide1.png' %}" alt="" class="item" />
                            <img src="{%static 'assets/main/imgs/logo_slider/slide2.png' %}" alt="" class="item" />
                            <img src="{%static 'assets/main/imgs/logo_slider/slide3.png' %}" alt="" class="item" />
                            <img src="{%static 'assets/main/imgs/logo_slider/slide4.png' %}" alt="" class="item" />
                            <img src="{%static 'assets/main/imgs/logo_slider/slide5.png' %}" alt="" class="item" />
                            <img src="{%static 'assets/main/imgs/logo_slider/slide6.png' %}" alt="" class="item" />
                        </div>
                    </div>
                </div>
            -->

    </div>


        <div class="contact-form-wraper2">
            <div id="contactForm" class="contact-form-wraper">
                <form name="contact-form" id="business-contact-form" action="{%url 'form-change'%}"
                    method="post" class="contact-form">
                    {% csrf_token %}
                    <h2 class="form-header">
                        לקבלת הצעת מחיר משתלמת <div class="mark-strong">ללא</div> עלות <div class="mark-strong">וללא
                        </div> התחייבות השאירו פרטים ומיד נחזור אליכם
                    </h2>
                    {% bootstrap_form contactForm %}
                    {% buttons %}
                    <!--
                        <button type="submit" class="btn btn-success form-submit">לשיחת יעוץ ללא עלות וללא התחייבות השאירו
                        פרטים</button>
                        -->
                    <button type="submit" class="btn btn-success form-submit">לשליחת טופס לחץ כאן</button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
</div>




{%endblock content%}

{% block extra_body %}
<!-- js imports -->

<script src="{%static 'assets/main/js/main.js' %}"></script>

<script>
    /*
    function activateUserTask(task) {
        if (task == "main-ec6bb117-c8fa-4a38-989a-ab0e0805e44e") {
            setTimeout(() => {
                //document.getElementById('contact-form').scrollIntoView();
                window.scrollTo(0, document.body.scrollHeight);
                //myStorage.setItem('user_click_task', undefined);
                myStorage.removeItem('user_click_task');
            }, 1000);
        }
    }
    */
</script>

{%endblock extra_body %}


<!--
<a href='https://www.freepik.com/photos/background'>Background photo created by kues1 - www.freepik.com</a>
-->