
<!DOCTYPE html>
<html>

<head lang="he">
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="{{obj.title}}" />
    <meta property="og:description"        content="{{obj.description}}" />
    <meta property="og:image"              content="http://{{ request.get_host }}{{obj.image.url}}" />
    <meta property="og:image:secure_url"   content="https://{{ request.get_host }}{{obj.image.url}}" />
    <meta property="og:image:width"        content="{{obj.image.width}}" />
    <meta property="og:image:height"       content="{{obj.image.height}}" />
    <meta property="og:image:alt"          content="{{obj.title}}" />
    <meta property="og:locale"             content="ISR"/>
    <meta property="og:site_name"          content="M.S. Global" />
</head>
<body>
    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            window.localStorage.setItem('search_open_product', {{obj.id}});
            //window.location.href = "/";
        });
    </script>
</body>