

{%load static %}
<link href="{%static 'assets/css/floating_action_button.css'%}" rel="stylesheet">

<div class="backdrop_gray"></div>

<div class="fab blue child btn-floating" data-subitem="1">C
	<span class="btn-floating fab-tip">C</span>
</div>

<div class="fab blue child btn-floating" data-tooltip="I am B" data-subitem="2">B
	<span class="btn-floating fab-tip">B</span>
</div>

<div class="fab blue child btn-floating" data-tooltip="I am A" data-subitem="3">A
	<span class="btn-floating fab-tip">A</span>
</div>

<div class="fab" id="masterfab"><span>+</span></div>

<script src="{%static 'assets/js/jquery-1.11.3.min.js' %}"></script>
<script src="{%static 'assets/js/floating_action_button.js' %}"></script>