<!-- floating button implementation start -->
{%load static%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<div class="fixed-action-btn">
  <a id="fab-btn" class="btn-floating btn-large red">
    <i class="large material-icons">menu</i>
  </a>
  <ul>
    <li>
      <a href="https://www.ms-global.co.il" class="btn-floating red tooltipped" data-position="left"
        data-tooltip="דף הבית"><i class="material-icons">home</i></a>
    </li>
    <li><a href="https://www.facebook.com/%D7%91%D7%99%D7%92%D7%95%D7%93-%D7%A4%D7%9C%D7%95%D7%A1-102693374827456"
        class="btn-floating blue tooltipped" data-position="left" data-tooltip="פייסבוק"><i
          class="fa fa-facebook-f"></i></a></li>
    <li><a href="https://wa.me/+972547919908" class="btn-floating green tooltipped" data-position="left"
        data-tooltip="עידן פיירמן - מנהל מכירות - 054-7919908"><i class="fa fa-whatsapp"></i></a></li>
    <li><a href="https://ms-global.co.il/begood-plus" class="btn-floating red tooltipped" data-position="left" data-tooltip="ביגוד פלוס קטלוג 2020">
      <i class="material-icons">collections</i></a></li>
  </ul>
</div>
<script src="{%static 'assets/js/jquery-1.11.3.min.js' %}"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
  
    // init floating action button
    var elems = document.querySelectorAll('.fixed-action-btn');
    fab_options = {
      direction: 'top',
      hoverEnabled: false
    }
    var instances = M.FloatingActionButton.init(elems, fab_options);

    // init tooltipped for floating action button
    var elems = document.querySelectorAll('.tooltipped');
    Tooltip_options = {}
    var instances = M.Tooltip.init(elems, Tooltip_options);
  });
  
  /*function showPopup() {
    $('.tooltipped').tooltip('open');
  }
  
  function hidePopup() {
    $('.tooltipped').tooltip('close');

  }
  $("#fab-btn").mouseclick(function () {
    showPopup()
  });

  $("#fab-btn").mouseout(function () {
    hidePopup();
  });*/
    
    
</script>
<!-- floating button implementation end -->