
{%load static%}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<link href="{%static 'assets/css/fab.css'%}" rel="stylesheet">
<div class="fab-container">
    <div class="fab fab-icon-holder">
        <i class="fas fa-bars"></i>
    </div>

    <ul class="fab-options">
        <li>
            <span class="fab-label">דף הבית</span>
            <div class="fab-icon-holder">
                <i class="fas fa-home"></i>
            </div>
        </li>
        <li>
            <span class="fab-label">פייסבוק</span>
            <div class="fab-icon-holder">
                <i class="fab fa-facebook-f"></i>
            </div>
        </li>
        <li>
            <span class="fab-label">וואצאפ</span>
            <div class="fab-icon-holder">
                <i class="fab fa-whatsapp"></i>
            </div>
        </li>
        <li>
            <span class="fab-label">גלרייה</span>
            <div class="fab-icon-holder">
                <i class="fas fa-images"></i>
            </div>
        </li>
    </ul>
</div>