<!DOCTYPE html>
<html>

    <head>
        {%load static%}
        {% include  'base.html'%} 
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>ביגוד פלוס - הזמנה</title>
        <link rel="shortcut icon" href="{%static 'favicon.ico' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

        <link rel="stylesheet" href="{%static 'assets/css/Contact-Form-v2-Modal--Full-with-Google-Map.css'%}">
        <link rel="stylesheet" href="{%static 'assets/css/Responsive-Form-1.css'%}">
        <link rel="stylesheet" href="{%static 'assets/css/Responsive-Form.css'%}">
        <link rel="stylesheet" href="{%static 'assets/css/easy-autocomplete.min.css'%}">
        <link rel="stylesheet" href="{%static 'assets/css/easy-autocomplete.themes.min.css'%}">
        <link rel="stylesheet" href="{%static 'assets/css/bootstrap-colorselector.min.css' %}" />
        <link rel="stylesheet" href="{%static 'assets/css/styles.css'%}">
    
        
    
    </head>
    
    <body>
        <div class="container">
            <div>
                <form>
                    <div class="form-group">
                        <div id="formdiv">
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p class="text-right" style="margin-left:2%;font-family:Roboto, sans-serif;font-size:24px;"><strong>תאריך הזמנה</strong><br></p>
                                </div>
                                <div class="col-md-10 offset-md-1">
                                    <input class="form-control" placeholder="dd-mm-yyyy" style="font-family:Roboto, sans-serif;" dir="rtl" id="date_inp" type="date">
                                    
                                </div>
                            </div>
    
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p class="text-right" style="margin-left:2%;font-family:Roboto, sans-serif;font-size:24px;"><strong>שם הלקוח</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1">
                                    <input dir="rtl" class="form-control" type="text" style="margin-left:0px;font-family:Roboto, sans-serif;" name="name" id="client_name_inp" placeholder="שם">
                                    <i class="fas fa-check-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <small>Error message </small>
                                </div>
                            </div>
    
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p class="text-right" style="margin-left:2%;font-family:Roboto, sans-serif;font-size:24px;"><strong>.ח.פ</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1"><input class="form-control" style="font-family:Roboto, sans-serif;" dir="rtl" id="private_company_inp" placeholder=".ח.פ"></input></div>
                            </div>
    
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;margin-top:-16px;">
                                <div class="col-md-8 offset-md-1">
                                    <p class="text-right" style="margin-left:2%;font-family:Roboto, sans-serif;font-size:24px;"><strong>כתובת</strong></p>
                                </div>
                                <!-- <div class="col-md-10 offset-md-1"><select class="form-control" style="font-family:Roboto, sans-serif;" name="gender"><optgroup label="This is a group"><option value="12" selected="">This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></optgroup></select></div> -->
                                <div class="col-md-10 offset-md-1"><input dir="rtl" class="form-control" id="addres_inp" type="text" style="margin-left:0px;font-family:Roboto, sans-serif;" placeholder="כתובת"></div>
    
                            </div>
                            
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p class="text-right" style="margin-left:2%;font-family:Roboto, sans-serif;font-size:24px;"><strong>טל</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1"><input class="form-control" type="text" style="margin-left:0px;font-family:Roboto, sans-serif;" dir="rtl" id="tel_inp" placeholder="טל"></div>
                            </div>
    
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p class="text-right" style="margin-left:2%;font-family:Roboto, sans-serif;font-size:24px;"><strong>מייל</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1"><input class="form-control" style="font-family:Roboto, sans-serif;" autocomplete="true" inputmode="email" id="email_inp" placeholder="מייל"></input></div>
                            </div>
    
                                                    <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p class="text-right" style="margin-left:2%;font-family:Roboto, sans-serif;font-size:24px;"><strong>איש קשר</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1"><input class="form-control" type="text" dir="rtl" style="margin-left:0px;font-family:Roboto, sans-serif;" id="contact_man_inp" placeholder="איש קשר"></div>
                            </div>
    
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p class="text-right" style="margin-left:2%;font-family:Roboto, sans-serif;font-size:24px;"><strong>נייד</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1" style="font-family:Roboto, sans-serif;"><input class="form-control" dir="rtl" type="text" style="margin-left:0px;" id="cell_inp" placeholder="נייד"></div>
                            </div>
    
    
    
    
                            <div class="form-row text-right">
                                <div class="col">
                                    <div style="height: 100%;margin-top: 28px;padding-bottom: 500px;" class="table-responsive">
                                    
                                        <table id="productsTable" class="table" dir="rtl">
                                            <thead>
                                                <tr>
                                                    <th>שם המוצר</th>
                                                    <th>מק"ט</th>
                                                    <th>מידה</th>
                                                    <th>צבע</th>
                                                    <th>כמות</th>
                                                    <th>עוד</th>
                                                    <th>הוספה</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            <!--
                                                <tr>
                                                    <td><input id="productInput_0" class="form-control" type="text" dir="rtl" style="margin-left:0px;font-family:Roboto, sans-serif;" placeholder="הכנס מוצר"></td>
                                                    <td><div id="catalogNumber_0" ></div></td>
                                                    <td><div id="size_0"> </div> </td>
                                                    <td><div id="color_0"></div></td>
                                                    <td><input id="amount_0" value="1" type="number" min="1" max="999" class="form-control" /></td>
                                                    <td>
                                                        <div dir="rtl" class="btn-group" role="group">
                                                            <button class="btn btn-ligth" style="border-radius: 0 !important;border: 1px solid black;" type="button"><i title="שכפל" class="fas fa-copy"></i></button>
                                                            <button class="btn btn-ligth" style="border-radius: 0 !important;border: 1px solid black;" type="button"><i title="מחק" class="far fa-trash-alt"></i></button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            -->
                                                <tr>
                                                    
                                                    <td id="new_product_td">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-12 col-md-4 offset-md-4">
                                    <button class="btn btn-secondary btn-lg" style="font-family:Roboto, sans-serif;" type="reset">נקה </button>
                                    <button class="btn btn-success btn-lg" style="margin-left:16px;font-family:Roboto, sans-serif;" id="firstNext" >שלח </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js" defer></script>
        <script src="https://kit.fontawesome.com/022c0fea0b.js" crossorigin="anonymous" defer></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLmOyl1lZ1oOovi60v6HPnp6bY-7A80is&language=he&libraries=places" defer></script>
        <script src="{%static 'assets/js/Contact-Form-v2-Modal--Full-with-Google-Map.js' %}" defer></script>
        <script src="{%static 'assets/js/jquery.easy-autocomplete.min.js' %}" defer></script>
        <script src="{%static 'assets/js/bootstrap-colorselector.min.js' %}" defer></script>
        <script src="{%static 'assets/js/script.js' %}" defer></script>
    
    </body>

</html>