<html>

<head>
    {%load static%}
    {% include  'base.html'%}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <link rel="shortcut icon" href="{%static 'ms_global_icon.ico' %}">

    <title>M.S-GLOBAL - אמ. אס. גלובל - ביגוד פלוס</title>

        <style type=" text/css"> body, html { margin: 0; padding: 0; height: 100%; overflow: hidden; } #content {
        position:absolute; left: 0; right: 0; bottom: 0; top: 0px; } </style> </head> <body>
    <div id="content">
        {%include 'website_navbar.html' %}
        {% include   'floating_action_button.html' %}

        <iframe width="100%" name="iframe_a" height="100%" frameborder="0" src="https://lp.vp4.me/crbi" />
    </div>
    </body>

</html>