<html >
    <head>
        {%load static%}
        {% include  'base.html'%}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

        <link rel="shortcut icon" href="{%static 'my_logo_logo.jpg' %}">
        
        <title> קטלוג מוצרי פרסום</title>
        <style type="text/css">
            body, html
            {
                margin: 0; padding: 0; height: 100%; overflow: hidden;
            }

            #content
            {
                position:absolute; left: 0; right: 0; bottom: 0; top: 0px; 
            }
        </style>
        {% include   'floating_action_button.html' %}
    </head>
    <body>
        <div id="content">
            {%include 'website_navbar.html' %}

            <iframe width="100%" name="iframe_a" height="100%" frameborder="0" src="http://www.my-logo.co.il/"/>  
        </div>
    </body>

</html>
