<html>

<head>
    {%load static%}
    {% include  'base.html'%}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ביגוד פלוס - הזמנה</title>
    <link rel="shortcut icon" href="{%static 'favicon.ico' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!--
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    -->
    <link rel="stylesheet" href="{%static 'assets/css/bootstrap.min.css' %}">
    <!--
        <link rel="stylesheet" href="css/mdb.min.css">
    -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css" integrity="sha512-ARJR74swou2y0Q2V9k0GbzQ/5vJ2RBSoCWokg4zkfM29Fb3vZEQyv0iWBMW/yvKgyHSR/7D64pFMmU8nYmbRkg==" crossorigin="anonymous" /> <!-- TODO: copy librery to project -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="{%static 'assets/css/easy-autocomplete.min.css'%}">
    <link rel="stylesheet" href="{%static 'assets/css/easy-autocomplete.themes.min.css'%}">
    <link rel="stylesheet" href="{%static 'assets/css/bootstrap-colorselector.min.css' %}" />
    <link rel="stylesheet" href="{%static 'assets/css/dropzone.css' %}" />
    <link rel="stylesheet" href="{%static 'assets/css/chosen.min.css' %}" />
    <link rel="stylesheet" href="{%static 'assets/css/ImageSelect.css' %}" />
    <link rel="stylesheet" href="{%static 'assets/css/order2_styles.css'%}">
</head>

<body>
    <!-- Modal -->
    <div class="modal fade" id="MyModle" tabindex="-1" role="dialog" aria-labelledby="ThisIsMyModlesTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header ">


                    <button style="margin: -1rem -1rem auto -1rem;" type="button" class="close" data-dismiss="modal"
                        aria-label="סגור">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h5 class="modal-title" id="MyModleTitle"></h5>

                </div>
                <div class="modal-body">



                    <table id="productPrintTable" class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">לוגו</th>
                                <th scope="col">כמות</th>
                                <th scope="col">צבעים</th>
                                <th scope="col">מיקום</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr></tr>
                        </tbody>
                    </table>






                    <form action="/upload_user_image" method="POST" id="myAwesomeDropzone" class="dropzone dz">
                        {% csrf_token %}
                        <div class="dz-message">
                            <i class="fas fa-cloud-upload-alt fa-3x	"></i>
                            <span>
                                גרור או בחר את הלוגויים שברשותך
                            </span>
                        </div>
                        <div class="fallback">
                            <input name="file" type="file" multiple />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">סגור</button>
                    <button type="button" class="btn btn-primary">שמור</button>
                </div>
            </div>
        </div>
    </div>
    <div style="padding:10%" dir="rtl">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <!--
                <div class="col-11 col-sm-10 col-md-10 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2">
                    <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                    -->
                <div style="width: 100%;">
                    <h2 id="heading">טופס הזמנת מוצרים</h2>
                    <p id="mini_heading">מלא את השדות כדי לעבור לשלב הבא</p>
                    <form id="msform">
                        <!-- progressbar -->
                        <ul id="progressbar">
                            <li class="active" id="account"><strong>פרטי לקוח</strong></li>
                            <li id="personal"><strong>מוצרים</strong></li>

                            <li id="payment"><strong>הדפסות</strong></li>
                            <li id="confirm"><strong>סיום</strong></li>
                        </ul>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div> <br> <!-- fieldsets -->
                        <fieldset>
                            <div class="form-card">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="fs-title">פרטי לקוח</h2>
                                    </div>
                                    <div class="col-5">
                                        <h2 class="steps">שלב 1 - 4</h2>
                                    </div>
                                </div>

                                <div class="form-control">
                                    <label class="fieldlabels" for="client_name_inp">שם לקוח *</label>
                                    <input type="text" placeholder="שם לקוח" id="client_name_inp" />
                                    <i class="fas fa-check-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <small>Error message</small>
                                </div>
                                <div class="form-control">
                                    <label class="fieldlabels" for="private_company_inp">ח.פ.</label>
                                    <input type="text" placeholder="מספר חברה פרטית" id="private_company_inp" />
                                    <i class="fas fa-check-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <small>Error message</small>
                                </div>
                                <div class="form-control">
                                    <label class="fieldlabels" for="addres_inp">כתובת *</label>
                                    <input type="text" placeholder="הזן כתובת" id="addres_inp" />
                                    <i class="fas fa-check-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <small>Error message</small>
                                </div>
                                <div class="form-control">
                                    <label class="fieldlabels" for="tel_inp">טלפון *</label>
                                    <input type="tel" placeholder="הזן מספר טלפון" id="tel_inp" />
                                    <i class="fas fa-check-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <small>Error message</small>
                                </div>
                                <div class="form-control">
                                    <label class="fieldlabels" for="email_inp">אימייל *</label>
                                    <input type="email" placeholder="הזן אימייל" id="email_inp" />
                                    <i class="fas fa-check-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <small>Error message</small>
                                </div>
                                <div class="form-control">
                                    <label class="fieldlabels" for="contact_man_inp">איש קשר *</label>
                                    <input type="text" placeholder="הזן איש קשר" id="contact_man_inp" />
                                    <i class="fas fa-check-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <small>Error message</small>
                                </div>
                                <div class="form-control">
                                    <label class="fieldlabels" for="cell_inp">נייד</label>
                                    <input type="tel" placeholder="הזן מספר נייד" id="cell_inp" />
                                    <i class="fas fa-check-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <small>Error message</small>
                                </div>

                            </div>
                            <!--class="form-card" -->
                            <input type="button" name="next" class="next action-button" value="הבא" />
                        </fieldset>
                        <fieldset>
                            <div class="form-card">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="fs-title">:בחירת מוצרים</h2>
                                    </div>
                                    <div class="col-5">
                                        <h2 class="steps">שלב 2 - 4</h2>
                                    </div>
                                </div>
                                <div style="width: 100%;overflow-x: scroll;overflow-y: visible;">
                                    <table id="productsTable" class="table" dir="rtl">
                                        <thead>
                                            <tr>
                                                <th>שם המוצר</th>
                                                <th>מק"ט</th>
                                                <th>מידה</th>
                                                <th>צבע</th>
                                                <th>כמות</th>
                                                <th>עוד</th>
                                                <th>הוספה</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td id="new_product_td">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div> <input type="button" name="next" class="next action-button" value="הבא" />
                            <input type="button" name="previous" class="previous action-button-previous"
                                value="הקודם" />
                        </fieldset>
                        <fieldset>
                            <div class="form-card">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="fs-title">בחירת הדפסים</h2>
                                    </div>
                                    <div class="col-5">
                                        <h2 class="steps">Step 3 - 4</h2>
                                    </div>
                                    <div>
                                        <table id="printTable">
                                            <thead>
                                                <tr>
                                                    <th>שם המוצר</th>
                                                    <th>מידה</th>
                                                    <th>צבע</th>
                                                    <th>כמות</th>
                                                    <th>פעולה</th>
                                                    <th>מיקום</th>
                                                    <th>הערות</th>
                                                    <th>הערות</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <!--
                                </div> <label class="fieldlabels">Upload Your Photo:</label> <input type="file"
                                    name="pic" accept="image/*"> <label class="fieldlabels">Upload Signature
                                    Photo:</label> <input type="file" name="pic" accept="image/*">
                                    
                                    -->

                                </div> <input type="button" name="next" class="next action-button" value="הבא" />
                                <input type="button" name="previous" class="previous action-button-previous"
                                    value="הקודם" />
                        </fieldset>
                        <fieldset>
                            <div class="form-card">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="fs-title">Finish:</h2>
                                    </div>
                                    <div class="col-5">
                                        <h2 class="steps">Step 4 - 4</h2>
                                    </div>
                                </div> <br><br>
                                <h2 class="purple-text text-center"><strong>SUCCESS !</strong></h2> <br>
                                <div class="row justify-content-center">
                                    <div class="col-3"> <img src="https://i.imgur.com/GwStPmg.png" class="fit-image">
                                    </div>
                                </div> <br><br>
                                <div class="row justify-content-center">
                                    <div class="col-7 text-center">
                                        <h5 class="purple-text text-center">You Have Successfully Signed Up</h5>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script>
-->
<script type="text/javascript" src="{%static 'assets/js/jquery.min.js'%}"></script>

<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLmOyl1lZ1oOovi60v6HPnp6bY-7A80is&language=he&libraries=places"
    defer></script>
<script src="https://kit.fontawesome.com/a076d05399.js" defer></script>
<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js" defer></script>
-->


<script type="text/javascript" src="{%static 'assets/js/popper.min.js'%}"></script>
<script type="text/javascript" src="{%static 'assets/js/bootstrap.min.js'%}"></script>
<!--
<script type="text/javascript" src="{%static 'assets/js/mdb.min.js'%}"></script>
-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js" integrity="sha512-yDlE7vpGDP7o2eftkCiPZ+yuUyEcaBwoJoIhdXv71KZWugFqEphIS3PU60lEkFaz8RxaVsMpSvQxMBaKVwA5xg==" crossorigin="anonymous"></script>


<script src="{%static 'assets/js/jquery.easy-autocomplete.min.js' %}" defer></script>
<script src="{%static 'assets/js/bootstrap-colorselector.min.js' %}" defer></script>
<script src="{%static 'assets/js/dropzone.js' %}" defer></script>
<script src="{%static 'assets/js/chosen.jquery.min.js' %}" defer></script>
<script src="{%static 'assets/js/ImageSelect.jquery.js' %}" type="text/javascript" defer></script>
<script src="{%static 'assets/js/jquery.imagemapster.min.js' %}" type="text/javascript" defer></script>
<script src="{%static 'assets/js/order2.js' %}" defer></script>

</html>