{% extends "newBase.html" %}

{% load i18n %}
{% load static %}
{% load bootstrap5 %}

{% block head_title %} - {% trans "technology" %}{% endblock %}

{%block before_css%}
<script src="{%static 'assets/websites/js/vendors/three.min.js' %}" defer></script>
<script src="{%static 'assets/websites/js/vendors/three-globe.min.js' %}" defer></script>
<script src="{%static 'assets/websites/js/vendors/typed.min.js' %}" defer></script>
<script src="{%static 'assets/websites/js/vendors/parallax.min.js' %}" defer></script>
<script src="{%static 'assets/websites/js/three.final.js' %}" defer ></script>
<script src="{%static 'assets/websites/js/main.js' %}" defer></script> 

<style>
    body {
        margin: 0;

    }

    #all-wraper.done .loader-wraper {
        display: none;
    }

    #all-wraper.loading .loader-wraper {
        z-index: 1;
        background-color: rgb(0 0 0);
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #all-wraper.loading .loader {
        z-index: 1;
        position: relative;
        width: 80px;
    }

    #loader_text {
        color: white;
        font-size: larger;
    }

    #all-wraper.loading .loader span {
        width: 21px;
        height: 21px;
        display: inline-block;
        background-color: #fff;
        animation: square 2s linear infinite;
    }

    #all-wraper.loading main {
        display: none;
    }

    #all-wraper.done main {
        display: block;
    }

    @keyframes square {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(25px);
            opacity: 0;
        }
    }

    #all-wraper.loading .loader span:nth-child(2) {
        animation-delay: .4s;
    }

    #all-wraper.loading .loader span:nth-child(3) {
        animation-delay: .6s;
    }

    #all-wraper.loading .loader span:nth-child(4) {
        animation-delay: .8s;
    }

    #all-wraper.loading .loader span:nth-child(5) {
        animation-delay: 1s;
    }

    #all-wraper.loading .loader span:nth-child(6) {
        animation-delay: 1.2s;
    }
</style>

{%endblock%}

{% block extra_head %}

{% endblock extra_head%}
{% block content %}
<div id="all-wraper" class="loading">
<div class="loader-wraper">
    <div class="loader">
        <div id="loader_text" class="text">loading...</div>
        <span></span><span></span><span></span><span></span><span></span><span></span>
    </div>
</div>
<div id="globeViz"></div>
<div id="main_filler"></div>
<main>

    <div class="section">
        <div class="content">
            <h1 id="title_1"></h1>

        </div>
        <h1 id="arrow">↓</h1>
    </div>
    <div class="section d-hidden"></div>
    <div class="section d-hidden">
        <div id="parralex_container">
                <div class="line gold-bg" style="--i: 0;">
                    <div class="text">
                        למעלה מ54% מהעסקעות בכל יום נסגרות ברשת...
                    </div>
                </div>
                <div class="line" style="--i: 1;">
                    <div class="text">רוצים שכולם ידעו מי אתם?</div>
                </div>

            <div class="line" style="--i: 2;">
                <div class="text">
                    נמאס לכם להדפיס פלאיירים?</div>
            </div>
            <div class="line" style="--i: 3;">
                <div class="text">
                    לא רוצים לבזבז כסף על שיווק?</div>
            </div>
            <div class="line" style="--i: 4;">
                <div class="text">
                    מפחדים להישאר מאחור?</div>
            </div>
            <div class="line gold-bg" style="--i: 5;">
                אנו באמ אס גלובל מתחמים בבנית דפי נחיתה מותאמים אישית
            </div>
            <div class="line" style="--i: 6;">
                <br>
            </div>

        </div>


    </div>
    <div class="section d-hidden"></div>
    <div class="section d-hidden">
        <div class="websites">
            <div class="website-wraper">
                <div class="iframe">
                    <iframe scrolling="no" data-src="https://shermakdogs.com/" frameborder="0"></iframe>
                </div>
                <div class="content">
                    <ul>
                        <li>
                            קופיריטינג
                        </li>
                        <li>
                            עיצוב גרפי
                        </li>
                        <li>
                            אופטימזציה
                        </li>
                    </ul>
                </div>
            </div>


            <div class="website-wraper">
                <div class="content">
                    <ul>
                        <li>אחסנה לשנה</li>
                        <li>דומיין לשנה</li>
                        <li>חיבור אנליטיקה</li>
                    </ul>
                </div>
                <div class="iframe">
                    <iframe scrolling="no" data-src="https://freeflow.ms-global.co.il/" frameborder="0"></iframe>
                </div>

            </div>


            <div class="website-wraper">
                <div class="iframe">
                    <iframe scrolling="no" data-src="https://lead.ms-global.co.il/" frameborder="0"></iframe>
                </div>
                <div class="content">
                    <ul>
                        <li>תכנון פאנאל לפי דרישה</li>
                        <li>פיצרים מותאמים אישית</li>
                        <li>שליחת לידים בצורה ברורה</li>
                    </ul>
                </div>
            </div>
            <div class="website-wraper">

                <div class="content">
                    <ul>
                        <li>זמן אספקה מהיר</li>
                        <li>שירות אדיב ומקצועי</li>
                        <li>מחירים מנצחים</li>
                    </ul>
                </div>
                <div class="iframe">
                    <iframe scrolling="no" data-src="https://nhrnhr0.github.io/harelFitoussi/index.html"
                        frameborder="0"></iframe>
                </div>
            </div>
        </div>

    </div>
    <div class="section d-hidden">
        <div class="contact-form-wraper2">
            <div id="contactForm" class="contact-form-wraper">
                <form name="contact-form" id="websites-contact-form" action="{%url 'form-change'%}"
                    method="post" class="contact-form">
                    {% csrf_token %}
                    <h2 class="form-header">
                        לקבלת הצעת מחיר משתלמת <div class="mark-strong">ללא</div> עלות <div class="mark-strong">וללא
                        </div> התחייבות השאירו פרטים ומיד נחזור אליכם
                    </h2>
                    {% bootstrap_form contactForm %}
                    {% buttons %}
                    <!--
                        <button type="submit" class="btn btn-success form-submit">לשיחת יעוץ ללא עלות וללא התחייבות השאירו
                        פרטים</button>
                        -->
                    <button type="submit" class="btn btn-success form-submit">לשליחת טופס לחץ כאן</button>
                    {% endbuttons %}
                </form>
            </div>
        </div>

    </div>
    <div class="section d-hidden">
        <div class="programs-logos">
            <div class="logo-bg" data-depth="0.2"></div>
            <div class="logo-bg" data-depth="0.3"></div>
            <div class="logo-bg" data-depth="0.6"></div>
            <div class="logo-bg" data-depth="-0.2"></div>
            <div class="logo-bg" data-depth="-0.6"></div>
        </div>
        <div class="text">
            <h1> מפתחים בשבילכם </h1>
            <h2> אנו מספקים מגוון רחב של שרותי תכנות בשפות תכנות שונות  </h2>
        </div>
        
    </div>
    <div class="section d-hidden">
        <div class="contact-form-wraper2">
            <div id="contactForm" class="contact-form-wraper">
                <form name="contact-form" id="websites-contact-form-2" action="{%url 'form-change'%}"
                    method="post" class="contact-form">
                    {% csrf_token %}
                    <h2 class="form-header">
                        לקבלת הצעת מחיר משתלמת <div class="mark-strong">ללא</div> עלות <div class="mark-strong">וללא
                        </div> התחייבות השאירו פרטים ומיד נחזור אליכם
                    </h2>
                    {% bootstrap_form contactForm %}
                    {% buttons %}
                    <!--
                        <button type="submit" class="btn btn-success form-submit">לשיחת יעוץ ללא עלות וללא התחייבות השאירו
                        פרטים</button>
                        -->
                    <button type="submit" class="btn btn-success form-submit">לשליחת טופס לחץ כאן</button>
                    {% endbuttons %}
                </form>
            </div>
        </div>

    </div>
    <footer id="footer-2" class="d-hidden">
        <div class="footer-top">
        <div class="container">
        </div>
        </div>
        <div class="container">
        <div class="copyright">
                        © Copyright <strong>M.S. Global</strong>. All Rights Reserved
                    </div>
        <div class="credits">
                        Designed by <a href="https://ms-global.co.il/">M.S. Global</a>
        </div>
        </div>
        </footer>
</main>



</div>



{%endblock%}


{%block extra_body%}

<link rel="stylesheet" href="{%static 'assets/websites/css/style.css'%}">


{% endblock %}