<script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
{%load static%}
<link rel="stylesheet" href="{%static 'assets/css/Responsive-And-Animated-Navbar-With-Multi-level-Drodown.css'%}">
<header>
    <div class="container">
        <input type="checkbox" name="" id="check">

        <div class="logo-container">
            <h3 class="logo">M.S.<span>GLOBAL</span></h3>
        </div>

        <div class="nav-btn">
            <div class="nav-links">
                <ul>
                    <li class="nav-link" style="--i: .6s">
                        <a href="{{domain}}">Home</a>
                    </li>
                    <li class="nav-link" style="--i: .85s">
                        <a href="#">תפריט<i class="fas fa-caret-down"></i></a>
                        <div class="dropdown">
                            <ul>

                                <li class="dropdown-link">
                                    <a href="{{domain}}">דף הבית</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="{{domain}}/begood-plus">ביגוד פלוס</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="{{domain}}/catalog/all">קטלוג מוצרים</i></a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="http://ms-global.co.il/my-logo">קטלוג מוצרי פרסום</a>
                                </li>
                                <!--<div class="arrow"></div>-->
                            </ul>
                        </div>
                    </li>
                    <li class="nav-link" style="--i: 1.1s">
                        <a href="#">קטלוג מוצרים<i class="fas fa-caret-down"></i></a>
                        <div class="dropdown">
                            {% load mptt_tags %}
                            <ul>
                                {% recursetree albums %}
                                <li>
                                {% if node.images.exists and node.is_public %}
                                    <li class="dropdown-link">
                                        <a href="{{node.get_absolute_url }}"> {{ node.title }}</a>
                                    </li>
                                {% endif %}
                                
                                {% if not node.is_leaf_node and node.is_public %}
                                <li class="dropdown-link">
                                    <a href="#">{{ node.title }}<i class="fas fa-caret-down"></i></a>
                                    <div class="dropdown second">
                                        <ul>
                                            {{ children }}
                                        </ul>
                                    </div>
                                </li>
                                {% endif %}
                    </li>
                    {% endrecursetree %}
                </ul>

                <!--
                            <ul>
                                <li class="dropdown-link">
                                    <a href="#">Link 1</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="#">Link 2</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="#">Link 3<i class="fas fa-caret-down"></i></a>
                                    <div class="dropdown second">
                                        <ul>
                                            <li class="dropdown-link">
                                                <a href="#">Link 1</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">Link 2</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">Link 3</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">More<i class="fas fa-caret-down"></i></a>
                                                <div class="dropdown second">
                                                    <ul>
                                                        <li class="dropdown-link">
                                                            <a href="#">Link 1</a>
                                                        </li>
                                                        <li class="dropdown-link">
                                                            <a href="#">Link 2</a>
                                                        </li>
                                                        <li class="dropdown-link">
                                                            <a href="#">Link 3</a>
                                                        </li>
                                                        <div class="arrow"></div>
                                                    </ul>
                                                </div>
                                            </li>
                                            <div class="arrow"></div>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dropdown-link">
                                    <a href="#">Link 4</a>
                                </li>
                                <div class="arrow"></div>
                            </ul>
                            -->
            </div>
            </li>
            <li class="nav-link" style="--i: 1.35s">
                <a href="#">צור קשר<i class="fas fa-caret-down"></i></a>
                <div class="dropdown">
                    <ul>

                        <li class="dropdown-link">
                            <a href="https://wa.me/+972547919908">עידן פיירמן - מנהל מכירות</a>
                        </li>
                        <li class="dropdown-link">
                            <a href="https://wa.me/+972524314139">אופיר דאלי - מנהל תפעול</a>
                        </li>
                        <li class="dropdown-link">
                            <a href="mailto:Main@ms-global.co.il">מייל: Main@ms-global.co.il</i></a>
                        </li>

                        <li class="dropdown-link">
                            <a
                                href="https://www.facebook.com/%D7%91%D7%99%D7%92%D7%95%D7%93-%D7%A4%D7%9C%D7%95%D7%A1-102693374827456/?hc_ref=ARSgZoRwNsNfIVktiPfZoyP-ne7OFkGrcB5pglF-JrJJqyRANDRuwmLk1U8MAhY9AsM&fref=nf&__tn__=kC-R">
                                <img src="{% static 'facebook_icon.jpg' %}" />
                                דף הפייסבוק
                            </a>
                        </li>

                        <li class="dropdown-link">
                            <a href="https://5ef318ddbb88d.site123.me/%D7%A6%D7%95%D7%A8-%D7%A7%D7%A9%D7%A8">השאר
                                פרטים</a>
                        </li>
                        <!--<div class="arrow"></div>-->
                    </ul>
                </div>
            </li>
            </ul>
        </div>
        <!--
        <div class="log-sign" style="--i: 1.8s">
            <a href="#" class="btn transparent">Log in</a>
            <a href="#" class="btn solid">Sign up</a>
        </div>
        -->
    </div>

    <div class="hamburger-menu-container">
        <div class="hamburger-menu">
            <div></div>
        </div>
    </div>
    </div>
</header>