<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body dir="rtl">
    
    <table border="1">
        <tr>
            <td>
                <div>תאריך</div>
            </td>
            <td>
                <p>{{cart.created_date}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <div>משתמש</div>
                <div>שם העסק</div>
            </td>
            <td>
                {% if cart.user %}
                <a href="https://catalog.ms-global.co.il/admin/auth/user/{{cart.user.id}}/change/">
                    <p>{{cart.user}}</p>
                </a>
                <a href="https://catalog.ms-global.co.il/admin/client/client/{{cart.user.id}}/change/">
                    <p>{{cart.user.client.businessName}}</p>

                </a>
                {% else %}
                    <p> - </p>
                {% endif %}

            </td>
        </tr>
        <tr>
            <td>
                <div>uuid</div>
            </td>
            <td>
                <p>{{cart.uid}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <div>ip</div>
            </td>
            <td>
                <p>{{cart.device}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <div>שם</div>
            </td>
            <td>
                <p>{{cart.name}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <div>טלפון</div>
            </td>
            <td>
                <p>{{cart.phone}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <div>מייל</div>
            </td>
            <td>
                <p>{{cart.email}}</p>
            </td>
        </tr>
        </tr>
        <tr>
        </tr>
    </table>
    <!-- ======================================================================================== -->
    <!-- =================================== products =========================================== -->
    <!-- ======================================================================================== -->
    <table border="1">
        <tr>
            <th>מס</th>
            <th>מוצר</th>
            <th>id</th>
            <th>תמונה</th>
            <th>ספקים</th>
        </tr>
        {% for item in cart.products.all %}
            <tr>
                <td>
                    <p>{{forloop.counter}}</p>
                </td>
                <td>
                    <p>{{item.title}}</p>
                </td>
                <td>
                    <p><a href="https://catalog.ms-global.co.il/admin/catalogImages/catalogimage/{{item.id}}/change/">{{item.id}}</a> </p>
                </td>
                <td style="background: rgb(97, 97, 97)">
                    <p>
                        <img alt="{item.title}" style="height:50px;" src="https://res.cloudinary.com/ms-global/image/upload/f_auto,w_auto/{{item.cimage}}" />
                    </p>
                </td>
                <td>
                    <p>
                        <ul>
                        {% for p in item.providers.all %}
                            <li>
                                {{p.name}}
                            </li>
                        {% endfor %}
                        </ul>
                    </p>
                </td>
            </tr>
        {% endfor %}
    </table>


    <div class="content">
        <a href="https://catalog.ms-global.co.il/admin/core/sveltecartmodal/{{cart.id}}/change/">
            למעבר לעגלת קניות באדמין
        </a>
    </div>


    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        tr td div {
            font-size: 16px;
        }
        tr td p {
            font-size: 16px;
            font-weight: bold;
        }
    </style>
</body>
</html>